<section class="video-section" id="video-gestorpro">
  <div class="container">
    <div class="section__header video-section__header">
      <h2 class="section__title video-section__title">Assista e descubra como o Gestor PRO+ pode transformar seu negócio</h2>
      <p class="section__subtitle video-section__subtitle">
        Veja na prática como nossa plataforma facilita sua gestão com automações, notificações e controle total.
      </p>
    </div>
    <div class="video-container-outer">
      <div class="video-wrapper">
        <iframe 
          src="https://www.youtube.com/embed/9kvrSm_yx1E?si=TRbWq8mlmEfbOlDr" 
          title="Vídeo de apresentação GestorPRO" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</section>